.navBar {
  width: 1440px;
  height: 295px;
  margin: 0 auto;
  background: #016efc;
  transition-delay: 0.4s;
}

.login {
  font-family: Raleway;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.05em;
  margin-left: 357px;
  color: #ffffff;
  text-decoration: none;
}

.login:not(:last-child) {
  margin-bottom: 22px;
}

.closeNavBar {
  margin-left: 235px;
  width: 55px;
  height: 55px;
}

.navLink {
  display: flex;
  flex-direction: column;
}
